Sending data with Delete request gives : Illegal string offset 'type'

I have use-case where I need some additional information before deleting actual entity.
So I need to be able to pass data with DELETE requests

```
// Execute request
        $response = Requests::delete($url, $this->headers, json_encode($data));
```
![illegal string offset type](https://cloud.githubusercontent.com/assets/24393213/21736636/ccdb1956-d426-11e6-9997-9a80257dff96.jpg)

Enhancement may be ?
![delete - improvements](https://cloud.githubusercontent.com/assets/24393213/21736854/8cfe42ac-d428-11e6-9c62-1365f1f1ab56.jpg)
 may be

You can directly call `Requests::request` instead. DELETE has undefined semantics for body data ([RFC 7231, §4.3.5](https://tools.ietf.org/html/rfc7231#section-4.3.5)), so it's not supported in the short convenience method.

```php
$response = Requests::request( $url, $headers, $data, Requests::DELETE, $options );`
```

Hi, it don't like json_encode($data), it works with other requests such as PATCH but not with $response = Requests::request($url, $this->headers, $data, Requests::DELETE);

Patch ex : $response = Requests::patch($url, $this->headers, json_encode($data));
http_build_query(): Parameter 1 expected to be Array or Object.  Incorrect value given