Requests_Cookie::parse not setting host-only

I was writing tests for https://core.trac.wordpress.org/ticket/43231 and stumbled across this unexpected behavior:

```php
$cookie = Requests_Cookie::parse( 'test=foo; domain=.wordpress.org' );
$cookie->flags['host-only'] == false // assertion error!
```

The `host-only` flag is not being set, although it should be, shouldn't it?

Thoughts on enforcing the host-flag here: https://github.com/rmccue/Requests/blob/master/library/Requests/Cookie.php#L290

> // Domain normalization, as per RFC 6265 section 5.2.3

Which states that the host-only flag should be set.

The `host-only` flag represents the

[Per §5.3.2](https://tools.ietf.org/html/rfc6265#section-5.2.3):
```
   If the first character of the attribute-value string is %x2E ("."):

      Let cookie-domain be the attribute-value without the leading %x2E
      (".") character.

   Otherwise:

      Let cookie-domain be the entire attribute-value.
```

The `host-only` flag is set during the processing, following the rules from [§5.3](https://tools.ietf.org/html/rfc6265#section-5.3):
```
   6.   If the domain-attribute is non-empty:

           If the canonicalized request-host does not domain-match the
           domain-attribute:

              Ignore the cookie entirely and abort these steps.

           Otherwise:

              Set the cookie's host-only-flag to false.

              Set the cookie's domain to the domain-attribute.

        Otherwise:

           Set the cookie's host-only-flag to true.

           Set the cookie's domain to the canonicalized request-host.
```

This is done in the [parse_from_headers](https://github.com/rmccue/Requests/blob/4055bc412f128bb298735d5e1b0189eff41f1340/library/Requests/Cookie.php#L445-L451) method.

Not seeing that there's a bug here?